<?xml version="1.0" encoding="utf-8"?>
<!-- 선언부: xml의 버전과 인코딩 방식을 정의
        파일의 가장 상단부에 정의 -->

<!-- AndroidManifest.xml : 앱의 주요 구성요소 및 권한을 정의하는 파일-->


<!-- 네임스페이스 선언
    xmlns:android : 안드로이드 네임스페이스를 나타내는 기본 선언-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidstudy"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>